<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{.chrono.Name}} - Chrono Archives</title>
    <link href="/resources/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="shadow-element">
        <a href="/chrono"><h1>Chrono Archives</h1></a>
    </header>

    <main>
        <div class="service-title-center">
            <h2>{{.chrono.Name}}</h2>
        </div>
        <div class="service-content">
            <div class="service-image-container">
                <img alt="{{.chrono.Name}}" class="service-image shadow-element" src="{{.chrono.MinioURL}}">
            </div>
            <div class="service-info">
                <div class="service-description">
                    <p>{{.chrono.ServiceDesc}}</p>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>
